body {
  background-image: url('../patterns/gplaypattern.png');
  background-repeat: repeat;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 35px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 35px;
    background-color: #81BEF7;
    border-top: 2px solid #FF8000;
    font-size: 15px;
    padding: 5px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}