h1{
    line-height: 60px;
    padding: 10px 0px;
    color:#FF8000;
    font-family: 'Londrina Solid', cursive;
    font-weight: 400;
    font-size: 50px;
}
 


#nameText {
    color: #81BEF7;
    font-size: 55px;
}
#lineTwo {
    font-size: 29px;
}

#birds {
width:450px;
padding-top: 30px;
}
@media (max-width: 990px) {
#birds {
    display: none;
}
}
@media (max-width: 1200px) {
#birds {
    width:380px;
}
h1 {
    font-size: 40px;
    line-height: 50px;
}
#nameText {
    font-size: 45px;
}
#lineTwo {
    font-size: 22px;
}
}

#feels {
    height: 240px;
    display: block;
    margin: auto;
}
#feel, #help {
    font-family: 'Permanent Marker', cursive;
    font-size:30px;
}

#help {
    text-align: right;
}

