body {
  padding-top: 120px;
  background-image: url('../patterns/brickwall.png');
  background-repeat: repeat;
}

#logo {
    max-height: 98px; 
    margin-top: -10px;
}


h1{
    line-height: 60px;
    padding-bottom: 10px;
    color:#FF8000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 35px;
}
  
#nameText {
    color: #81BEF7;
    font-size: 38px;
}

#feelings {
    margin: auto;
    width: 100%;
}

.navbar-default {
    background-color: #81BEF7;
    border-color: #FF8000;
    border-bottom-width: 10px;
  }

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 35px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FF8000;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FF8000;
    background-color: #FFFFFF\;
}

.navbar {
    min-height: 110px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 110px;
}

@media (max-width: 767px) {

	.navbar {
    min-height: 50px;
}

    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

@media (max-width: 940px) {

    .navbar {
    min-height: 50px;
}

    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}



html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 35px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 35px;
    background-color: #81BEF7;
    border-top: 2px solid #FF8000;
    font-size: 15px;
    padding: 5px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}