.innerBox{
	height: 100%;
	background-color: #81BEF7;
	border: solid;
	border-width: 2px;
	border-color: #FF8000;
	border-radius: 5px;
	padding: 0px 10px 10px 10px;
	margin: 10px 0;
}
.title {
	font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 45px;
    color: white;
}
table {
	width:350px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
    font-weight: 700;
	font-size: 16px;
}
tr {
	padding:8px;
}
.tableTitle {
	font-size: 17px;
	padding-bottom: 5px;
}